name: Latin Bot Daily

on:
  schedule:
    - cron: '0 6 * * *'
    - cron: '0 15 * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write  # РАЗРЕШАЕМ ПИСАТЬ В РЕПОЗИТОРИЙ
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: pip install requests

      - name: Run script
        env:
          TG_TOKEN: ${{ secrets.TG_TOKEN }}
          TG_CHAT_ID: ${{ secrets.TG_CHAT_ID }}
        run: |
          if [ "${{ github.event.schedule }}" == "0 6 * * *" ]; then
            python main.py quote
          else
            python main.py words
          fi

      - name: Save history
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add history.json
          git commit -m "Update latin history [skip ci]" || echo "No changes to commit"
          git push
